<section id="teaching">
<div class="container">
  <h1>Teaching</h1>
  <div class="panel panel-default">
    <div class="panel-body">
        <!--<p>Hello World!</p>-->
        <h3 id="unorderedlist">BIOL 142: Fundamentals in Modern Biology II</h3>
        <ul>
            <li>Recieved a $500 grant to take students to the Centers for Disease Control Museum featuring a guest speaker from the Malaria unit.</li>
            <!--<li>List Item 2
                <ul>
                    <li>Nested list item A</li>
                    <li>Nested list item B</li>
                </ul>
            </li>
            <li>List Item 3</li>-->
        </ul>
    </div>
  </div>
</div>
</section>
